 body {
    background: url("images/back.png");
    background-repeat: repeat-x;
    background-color: #151515;
    overflow-y: scroll;
    overflow-x: hidden;
}
strong {
    font-size: 120%;
    color: #888888;
}
a {
    color: #111111;
    font-weight: bold;
}

@media only screen and (min-width: 760px) {
    #holder {
        padding-top: 130px;
        background-image: url("images/text-logo.png");
        background-size: 450px;
        background-repeat: no-repeat;
        background-position: center 30px;
    }
}
@media only screen and (max-width: 760px) {
    #holder {
        padding-top: 130px;
        background-image: url("images/text-logo.png");
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: center 30px;
    }
}
#content {
    background-image: url("images/back-page.png");
    border: solid #ff7700 15px;
    border-radius: 25px;
    padding:10px;
    margin: 0px auto;
    max-width: 800px;
    min-height: 350px;
    color: #aaa;
    font-family: sans-serif;
}
#footer {
    margin-top:25px;
    text-align: center;
}

#nav {
    max-width: 800px;
    margin: 0px auto;
}

/*icons*/
.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 75px;
    height: 75px;
    margin-bottom: 0px;
    margin-right: 10px;
    position: relative;
    top: 0px;
    -webkit-transition:top 0.5s;
    -moz-transition:top 0.5s;
    -ms-transition:top 0.5s;
    -o-transition:top 0.5s;
    transition:top 0.5s;
}

.icon:hover {
    top: -5px;
}
.icon:active {
    animation: jumpanim 0.2s;
  	-webkit-animation: jumpanim 0.2s;
  	-moz-animation: jumpanim 0.2s;
    -ms-animation: jumpanim 0.2s;
}
@keyframes jumpanim {
    0% {top: 0px;}
    40% {top: -15px;}
    100% {top: 0px;}
}
@-webkit-keyframes jumpanim {
    0% {top: -5px;}
    40% {top: -15px;}
    100% {top: 0px;}
}
@-moz-keyframes jumpanim {
    0% {top: -5px;}
    40% {top: -15px;}
    100% {top: 0px;}
}
@-ms-keyframes jumpanim {
    0% {top: -5px;}
    40% {top: -15px;}
    100% {top: 0px;}
}

#homeicon {
    background-image: url("icons/eye-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75px 55px;
}

#content div {
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    width: inherit !important;
}

#content div * {
    padding: 0px;
    text-decoration: none;
    border-radius: 0px;
    background-color: rgba(0,0,0,0.0);
    color: #aaaaaa;
}

.montage {
    margin: 15px;
}

/* shards */
@media only screen and (min-width: 760px) {
    #shard1 {
        width: 243px;
        height: 776px;
        position: absolute;
        top: 0%;
        background-image: url(images/shard1.png);
        z-index: -1;
        
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
    }
    
    #shard2 {
        width: 243px;
        height: 776px;
        position: absolute;
        top: 10%;
        right: -2%;
        background-image: url(images/shard1.png);
        z-index: -1;
        
        transform: rotate(-160deg);
        -webkit-transform: rotate(-160deg);
        -moz-transform: rotate(-160deg);
        -ms-transform: rotate(-160deg);
    }
    #shard3 {
        width: 243px;
        height: 776px;
        position: absolute;
        top: -25%;
        right: 30%;
        background-image: url(images/shard1.png);
        z-index: -1;
        
        transform: rotate(80deg);
        -webkit-transform: rotate(80deg);
        -moz-transform: rotate(80deg);
        -ms-transform: rotate(80deg);
    }
    #shard4 {
        width: 243px;
        height: 776px;
        position: absolute;
        top: 20%;
        right: 30%;
        background-image: url(images/shard1.png);
        z-index: -1;
        
        transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
    }
    #shard5 {
        width: 222px;
        height: 848px;
        position: absolute;
        top: 28%;
        left: 30%;
        background-image: url(images/shard2.png);
        z-index: -2;
        
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
    }
    #shard6 {
        width: 222px;
        height: 848px;
        position: absolute;
        top: -25%;
        left: 32%;
        background-image: url(images/shard2.png);
        z-index: -2;
        
        transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        -moz-transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
    }
}