<p>
    <strong>IRIS Studios</strong> was a project long in the making. Starting as a glimmer 
    in the red rimmed eye of a sixteen year old boy. Now nearly ten years later that dream 
    is coming to fruition. In the next few months, after four years of development, the first
    major release of IRIS Studios is about to happen.
</p>
<strong>Community</strong>
<p>
  If you would like to get a hold of us or talk to other fans, check out our Reddit and 
  suscribe to our twitter.
  <br />
  <a href="https://twitter.com/irisstud">Twitter</a> 
  <br />
  <br />
  <a href="http://www.reddit.com/r/irisstudios/"> Reddit</a>
</p>