<strong>BoxByte</strong> 
<p>
    Release: July-August 2014
  <br />
    Genre: High action arcade
</p>
<p>
  <img class="montage" src="images/boxbyte.gif" align="left" alt="boxbyte montage" />
  <br />
  A new genre game mixing action, collection, and avoidance into one 
  package. This is a game for the hardcore players everywhere. No spoon feeding, and 
  twitch based movement and action.When making BoxByte I wanted to make
  a homage to the arcade classics of our youth. <br /><br />
    
    What is it about? Well more to come soon.
    
    
</p>
<a href="boxbyte" >Check out the site</a>
 