
<a style="text-decoration:none;" class="twitter-timeline" href="https://twitter.com/irisstud" data-widget-id="480220635252002819"><strong>Updates</strong></a>
<script>
    !function(d,s,id){
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if(!d.getElementById(id)){
            js = d.createElement(s);
            js.id = id;
            js.src = p + "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
        }
            
    }(document,"script","twitter-wjs");
        
</script>

